@{
  Layout = "_Layout";
}

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    
    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-pano.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    
    <link rel="stylesheet" type="text/css" href="http://js.api.here.com/v3/3.0/mapsjs-ui.css" />
    <link rel="stylesheet" href="~/css/styles.css">


  </head>
  <body>
  <h1>Is my weed safe?</h1>
  <h2><a href="/dispensaries">Click to find out</a></h2>
  <div style="width: 640px; height: 480px" id="mapContainer"></div>
  <script src="~/js/scripts.js"></script>
  <script>  
        var geocodingParams = {
            searchText: 'Tacoma, Wa'
          };
        addressFinder(geocodingParams);

    </script>
  </body>
</html>