body
{
    font-family: monospace;
    text-align: center;
}

img
{
 width: 20%;
 position: center;
    
}

.titlebuttons
{
    float: left;
}

textarea
{
    width: 400px;
    height: 100px;
}

h1 
{
    color: rgb(126, 179, 126);
}